* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: #000;
  --bg-secondary: #191919;
  --green: #DEF3DF;
  --light: #fff;
}


h1 {
  font-size: 85px;
}
h2 {
  font-size: 58px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
  font-weight: 500;
}

p {
  font-size: 16px;
  line-height: 28px;
}
html, body {
  background-color: var(--bg-primary);
  color: var(--light);
}

button {
  border: 1px solid var(--light);
  border-radius: 100px;
  width: 180px;
  height: 50px;
  background: var(--green);
  font-size: 18px;
  text-transform: uppercase;
  transition: 0.3s all ease;
  cursor: pointer;
}

button:hover {
  background: var(--light);
  color: var(--bg-primary);
}



/* Hero-Section */

.hero-section {
  display: flex;
  height: 900px;
  background: var(--bg-secondary);
  overflow: hidden;
}

.avatar img {
  height: 60px;
  border-radius: 50%;
}

nav {
  min-width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border-right: 2px solid var(--light);
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

 ul li  {
  list-style: none;
}

li a {
  color: white;
  font-size: 19px;
  text-decoration: none;
  font-size: 26px;
}

a:hover {
  color: var(--green);
  text-decoration: underline;
}

.linkedin-logo img {
  height: 70px;
  width: 70px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
  margin-left: 100px;
  gap: 20px;
}

.header button {
  position: absolute;
  top: 50px;
  right: 50px;
}


.avatar {
  display: flex;
  align-items: center;
  gap: 12px;
} 

.avatar div {
  height: 10px;
  width: 10px;
  background: var(--light);
  border-radius: 50%;
}

.basic-details {
  display: flex;
  gap: 30px;
}

.top-bg {
  position: absolute;
  top: -200px;
  right: -100px;
}

/* About-Section */

.about-section {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 80px;
  margin: 0 auto;
}


.content {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.content p {
  max-width: 700px;
}

/* Experience-Section */
