* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: #000;
  --bg-secondary: #191919;
  --green: #def3df;
  --light: #fff;
}

h1 {
  font-size: 85px;
}
h2 {
  font-size: 58px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
  font-weight: 500;
}

p {
  font-size: 16px;
  line-height: 28px;
}
html,
body {
  background-color: var(--bg-primary);
  color: var(--light);
}

button {
  border: 1px solid var(--light);
  border-radius: 100px;
  width: 180px;
  height: 50px;
  background: var(--green);
  font-size: 18px;
  text-transform: uppercase;
  transition: 0.3s all ease;
  cursor: pointer;
}

button:hover {
  background: var(--light);
  color: var(--bg-primary);
}

/* Hero-Section */

.hero-section {
  display: flex;
  height: 900px;
  background: var(--bg-secondary);
  overflow: hidden;
}

.avatar img {
  height: 60px;
  border-radius: 50%;
}

nav {
  min-width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border-right: 2px solid var(--light);
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

ul li {
  list-style: none;
}

li a {
  color: white;
  font-size: 19px;
  text-decoration: none;
  font-size: 26px;
}

a:hover {
  color: var(--green);
  text-decoration: underline;
}

.linkedin-logo img {
  height: 70px;
  width: 70px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
  margin-left: 100px;
  gap: 20px;
}

.header button {
  position: absolute;
  top: 50px;
  right: 50px;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar div {
  height: 10px;
  width: 10px;
  background: var(--light);
  border-radius: 50%;
}

.basic-details {
  display: flex;
  gap: 30px;
}

.top-bg {
  position: absolute;
  top: -200px;
  right: -100px;
}

/* About-Section */

.about-section {
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 80px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.content p {
  max-width: 700px;
}

/* Experience-Section */

.experience-section {
  padding: 120px 0;
  background: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

h2 {
  margin-bottom: 50px;
  text-align: center;
}

.experience-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border: 1px solid var(--green);
  border-radius: 10px;
  gap: 15px;
  text-align: center;
}

.tag {
  background-color: var(--green);
  padding: 8px 14px;
  color: var(--bg-primary);
  font-size: 18px;
  border-radius: 9999px;
  line-height: 1;
}

h3 {
  color: var(--green);
}

h4 {
  color: var(--green);
}

p {
  max-width: 40%;
}

.show-btn {
  display: flex;
  justify-content: center;
}

/* Project-Section */

.project-section {
  padding: 120px 80px;
  background: var(--bg-secondary);
  min-height: auto;
}

.project-card {
  display: flex;
  border: 1px solid var(--green);
  padding: 60px 40px;
  text-align: center;
  border-radius: 10px;
}

p {
  max-width: 560px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.left {
  max-width: 49%;
}

.number {
  background-color: var(--green);
  color: var(--bg-primary);
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 9999px;
  font-size: 18px;
  font-weight: bold;
}

.title {
  align-items: center;
  display: flex;
  gap: 28px;
}
  
     
      .key-feature h3 {
          margin-bottom: 16px;
        }
        ul {
          padding-left: 20px;
        }
          li {
            margin-top: 8px;
            line-height: 24px;
          }
        


         .image-container {
          display: flex;
          justify-content: center; 
        }  

    
      .technology {
        margin-top: 20px;
        h3 {
          margin-bottom: 16px;
        }
        ul {
          padding-left: 20px;
          li {
            margin-top: 8px;
            line-height: 24px;
          }
          }
          }

  /* My  Skils Section */

  .skill-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 120px 80px;
    background: var(--bg-secondary);
    gap: 32px;
  
  }

   h2 {
      margin-bottom: 50px;
      text-align: center;
    }


  .skill {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }


/* Contact Section */

.contact-section {
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 80px;
}


.contact-section h2 {
  text-align: start;
}


.image-container  img{
  height: 80vh;
}

.content {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

.content p {
  max-width: 60%;
}

.linkedin-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Bar-Section */
 
.bar {
  background: var(--green);
  border-radius: 9999px;
  height: 5px;
}

/* CSS Styling Completes */

