* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body:  #01090af6;
  --brown:  #16213E;
  --red: #00C2FF;
  --card: #2DFF7A;
}

body {
  background-color:  var(--body);
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 36px 18px;
}


nav {
  background-color: var(--brown); 
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 93px;
}

.left-nav {
  display: flex;
  max-width: 488px;
  width: 100%;
  height: 40px;
  gap: 8px;
}

.logo {
  background-color: var(--red);
   height: 40px;
   width: 100%;
   min-width: 160px;
}

.link {
  background-color: var(--red);
  height: 40px;
  width: 100%;
}

.user {
  background-color: var(--red);
   height: 64px;
   width: 64px;
   border-radius: 50%;
}

/* --Card Styling-- */

.card-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 36px 18px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.circle {
  background-color: var(--red);
  height: 100px;
  width: 100px;
  border-radius: 50%;
}




.card {
  padding: 24px;
  display: flex;
  gap: 24px;
  border-radius: 12px;
  min-height: 148px;
  background-color: var(--card);
  align-items: center;
  justify-content: center;
}

.line-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.line {
  background-color: var(--brown);
  width: 100%;
  height: 24px;
}


@media screen and (width < 600px) {
  .logo {
    height: 40px;
    min-width: 70px;
  }

  .link {
    min-width: 35px;
    height: 40px;
  }

  .user {
    height: 46px;
    min-width: 46px;
    margin-left: 5px;
    border-radius: 47px;
  }

  .left-nav {
    max-width: 266px;
  }

  .circle {
   height: 75px;
   width: 75px; 
  }


  .card {
    padding: 14px;
  }

  .line {
    height: 15px;
  }
} 
