* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body:  #A70000;
  --nav:  #5E0808;
  --red: #FF0000;
}

body {
  background-color:  var(--body);
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}


nav {
  background-color: var(--nav); 
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 93px;
}

.left-nav {
  display: flex;
  max-width: 488px;
  width: 100%;
  height: 40px;
  gap: 8px;
}

.logo {
  background-color: var(--red);
   height: 40px;
   width: 100%;
   min-width: 160px;
}

.link {
  background-color: var(--red);
  height: 40px;
  width: 100%;
}

.user {
  background-color: var(--red);
   height: 64px;
   width: 64px;
   border-radius: 50%;
}



@media screen and (width > 1200px) {
  
}

@media screen and (width < 1200px) and (width> 450px) {
  
}


@media screen and (width < 410px) {
  
}
