* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #17404d;
}

.container {
  max-width: 1200px;
  min-height: 800px;
  margin: 100px auto;
  padding: 0 16px;
}


.grid {
 display: grid;
 grid-template-areas: 
 "box1 box1 box1 box3" 
 "box2 box2 box2 box3"
 "box2 box2 box2 box3";
  gap: 20px;
}


.box {
  border-radius: 5px;
  cursor: pointer;
}

.box1 {
  grid-area: box1;
  background: #0b59cd;
  /* width: 895px; */
  /* height: 378px; */
}

.box2 {
  grid-area: box2;
  background: #0ac4b1;
  /* width: 895px; */
  /* height: 548px; */
}

.box3 {
  grid-area: box3;
  background: #b09107;
}



@media screen and (width < 1200px) and (width> 450px) {
  .grid {
    gap: 16px;
    grid-template-areas: 
    "box1 box1 box3"
    "box2 box2  box3"
    "box2 box2 box3"
    "box2 box2 box3"
    "box2 box2 box3"
   
  }
}


@media screen and (width < 410px) {
  .container {
    margin: 24px auto;
  }
  .grid {
    gap: 16px;
    grid-template-areas:
     "box1"
     "box1" 
     "box2"
     "box2"
     "box2"
     "box2"
     "box3"
     "box3"
     "box3";
  }
}